# Core
aiogram==3.28.2
aiohttp==3.13.5
aiofiles==25.1.0

# Database
asyncpg==0.31.0

# Clash of Clans API
coc.py==4.0.0

# Utils
prettytable==3.17.0
APScheduler==3.11.2
requests==2.34.2

# Cache (опционально)
redis==5.2.1

# Pydantic (зависимость aiogram)
pydantic==2.13.4
pydantic-core==2.46.4
